.mainDiv{
    display: flex;
    flex-direction: row;
}
.asideFilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 0
}
.asideFilter input {
    width: 150px;
}
.mainSpan {
    width: 100%;
}